body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black
}

h1, h2, h3 {
    font-family: Georgia, serif;
    font-weight: bold;
    background-color: #f4f4f4;
    color: darkslategray
}

main {
    margin: 2rem auto;
    padding: 1rem;
    max-width: fit-content;
    border: 1px solid #ccc;
}
.special {
    color: darkblue;
    font-weight: bold;
}